@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    background-image: url('Assets/bg.jpg');
    font-family: 'Poppins', sans-serif;
    background-position:center;
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.static-pg{  
    position: relative;
    min-height: 100%; 
    background-attachment: fixed;
}

.afterstatic-pg{
height: 60px;
position: fixed;
top:0;
left: 0;
right: 0;
z-index: 1;
width: 100%;
background-color: black;
}

.firebg{
    display: block;
    position:absolute;
    top:6%;
    right: -5%;
    background-image: url('Assets/Background.gif');
    background-position:top;
    background-size: 500px;
    background-repeat: no-repeat;
    width:300px;
    height: 200px;
}

.afterfire{
    display: none;
}


.firebg2{
    position:absolute;
    bottom: 0;
    left: 0%;
    background-image: url('Assets/Fire2.gif');
    background-position:center;
    background-size: 500px;
    background-repeat: no-repeat;
    width:250px;
    height: 250px;
}

.firebg3{
    position:absolute;
    top:70%;
    left: -10%;
    background-image: url('Assets/Fire2.gif');
    background-position:left;
    background-size: 500px;
    background-repeat: no-repeat;
    width:300px;
    height:300px;
    box-shadow: 5px 5px 25px black;
    opacity: 0.4;

}

.firebg4{
    position:absolute;
    top:-1%;
    left: -1%;
    background-image: url('Assets/Fire3.gif');
    background-position:left;
    background-size: 500px;
    background-repeat: no-repeat;
    width:200px;
    height:200px;
    -ms-transform: rotate(270deg); /* IE 9 */
    transform: rotate(270deg);
    box-shadow: 5px 5px 25px black;
    opacity: 0.7;

}


.logo{
    position: absolute;
    top:20%;
    left: 45%;
    background-image: url('Assets/logo.png');
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
}

.afterlogo{
    position: absolute;
    top:15%;
    left: 35%;
    background-image: url('Assets/logo.png');
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}


.title{
    position: absolute;
    top:35%;
    left: 25%;
    right: 25%;
    background-image: url('Assets/title.png');
    height: 100px;
    background-position: center;
    background-size: cover;
}

.aftertitle{
    position: absolute;
    top:0%;
    left: 40%;
    right:35%;
    background-image: url('Assets/title.png');
    height: 50px;
    background-position: center;
    background-size: cover;
}

.tag_line{
    display: block;
    position: absolute;
    top:49%;
    left: 15%;
    right: 15%;
    color: white;
    text-align: center;
    font-size: medium;
}

.aftertag_line{
    display: none;
}

.services{
    display:inline-flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-flow: wrap;    
    display:normal;
    z-index: 99;
    position: absolute;
    top:45%;
    text-align: center;
    padding: 6.5%;
}

.afterservices{
    display:none;
    flex-direction:none;
    justify-content:none;
    flex-flow: none;
    width: 0;
    height: 0;
}

.box-text{
    text-align: center;
    color: white;
    margin-top: 90%;
}

.PCB{
    background-color: none;
    background-image: url('Assets/PCB.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.Automation{
    background-color: none;
    background-image: url('Assets/automation.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.Embeded{
    background-color: none;
    background-image: url('Assets/Embeded.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.Project{
    background-color: none;
    background-image: url('Assets/project.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.Contact{
    background-color: none;
    background-image: url('Assets/Contact.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.white-field{
    background-color: white;
    width: 100%;
    position: absolute;
    left:0;
    right:0;
    top:100%;
}


.afterwhite-field{
    background-color: white;
    width: 100%;
    position: absolute;
    left:0;
    right:0;
    top:9%;
    height: 100%;
    z-index: -1;
}